*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   body{
    background-color: white;
    
    transition: all 0.2s ease-in-out;
  }

  body,html{
    width:100%;
    height:100%;
    overflow-x: hidden;
  }
  .section{
  
    width:100%;
    height:85vh;
  display: flex;
  justify-content: center;
  align-items: center;
 

 
  
  }
  .heder{
    width: 100%;
    height: 15%;

   
  }
 
  .mode{
    width: 50%;
   
    height: 100%;
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  #sun {
    font-size:2vw;
    background-image: linear-gradient(45deg, yellow, orange);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #moon {
    font-size: 2vw;
    background-image: linear-gradient(45deg, white, rgb(0, 195, 255));
    display: none;
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .menu {
    width: 40%;
    height: 100%;
    float: left;
    
  }
  
  .side-menu{
    width: 30vh;
    height: 65vh;
    position: relative;

    z-index: 900;
    background-color: white;
    border-radius:2vh ;
    box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transform: translateX(-50vh);
    transition: all 0.2s ease-in-out;
 margin-top: -14vh;
  }
  .menu span{
    font-size: 2vw;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


  }
  .menu2{
    width: 40%;
    height: 100%;
    float: left;
  }
  .menu2 form{
    font-size: 2vw;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
  }
 #toggl{
    width: 40%;
    height: 40%;
    font-size: 1.5vw;
    box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgb(31, 28, 28);
    border-radius:1vh ;
    color:white;
  } 

  .close{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
   
  }
  .profile{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: relative;
   transform: translateY(5vh);
  }
  .plist{

    border-radius: 50%;
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    border: 1px solid;
  }
  .name{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    text-transform: capitalize;
    overflow-x: scroll;
    cursor: pointer;
  
  }
  .name::-webkit-scrollbar{
    display: none;
  }
  .box  {
    width: 100%;
    height:90%;
 
  }
  
  .inputs{
    width: 100%;
    height:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .nex{
    width: 50%;
   
    box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 95%;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-top-right-radius: 2vh;
  }
  .date-input{
    width:100%;
     height:20%; 
      display:flex;
       align-items:end; 
       justify-content:center; 
  }
  .logout{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: start;
   
  }
  
  .task-bar{
    height:60vh;
    width: 100%;
 position: relative;
 z-index: 200;
 margin-top: -4vh;
  }
  .span-taskbar label{
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:end;
    width: 80%;
  }
  .span-taskbar input{
  

    display: flex;
    justify-content: center;
    align-items: center;
   
   
  }
 
  .task-items{
    width: 100%;
    height: 15%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .span-taskbar{
    height:100%;
    width: 30vh;
     display: block;
     justify-content: center;
     align-items: center;
      font-size:2.5vh;
      box-shadow: rgba(1, 2, 2, 0.377) 0px 0px 4px 0px, rgba(14, 30, 37, 0.32) 0px 0px 16px 0px;
      border-bottom-left-radius: 2vh;
      border-bottom-right-radius: 2vh;
      transform: translateX(-50vh);

      transition: all 0.2s ease-in-out;
      background-color: white;
      overflow-y: scroll;
  }
  .span-taskbar input{
    margin-top: 4vh;
    height:10%;
  }

  .delete2 button{
    width: 60%;
    height: 100%;
    background-color: rgb(31, 28, 28);
    box-shadow: rgba(1, 2, 2, 0.377) 0px 0px 4px 0px, rgba(14, 30, 37, 0.32) 0px 0px 16px 0px;
    border: none;
    border-radius: 1vh;
    color: red;
  }
  .logout button{
    width: 70%;
    height: 80%;
    border-radius:1.5vh ;
    box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgb(31, 28, 28);
    border: none;
    color: white;
    font-size: 2.8vh;
  }
  .inputs h1{
    width: 100%;
    height: 30%;
display: flex;
justify-content: center;
align-items: center;
    font-family:fantasy;
    font-size: 8vh;
  }
  .sub{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub input{
    height: 6vh;
    border-radius: 1vh;
    border: 1px solid;
    font-size: 2.5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
 
  #tell{
    width: 75%;
   
  }
  .buttons{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .date{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
  }
  #date{
    width: 15%;
    height: 30%;
    box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   border-top-left-radius: 1vh;
   border-top-right-radius: 1vh;
    border: none;
    text-align: center;
  }
  .buttons button{
    width: 50%;
    height: 70%;
    border-radius: 1vh;
    border: none;
    box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgb(31, 28, 28);
    color: white;
    font-size: 3vh;
  }
  .task{
    width:100%;
        }
  .task-head{
    width: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-family:monospace;
    
  }
  .ite{
    height:40vh;
     margin-top:4vh;
      width:100%;
       display:flex; 
        justify-content:center;
  }
  .items{
    height:100%; 
    width:40%;
    position: relative;
   
   z-index: 100;
  }
  .items span{
    border: none;
    width:100%;
     display:none;
      height:105%;
       margin-top:-7vh; 
       z-index: 800;   
         background-color:rgba(255, 255, 255, 0.596);
         position: absolute;
  }
  .img{
    height:70%;
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .img img{
    width: 40%;
  }
 
  #task-date{
    height:13%;
     width:20%;
         box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
     font-size:2.5vh; 
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           display:flex;
             justify-content:center;
              align-items:center;
  }
  .else{
    height:85%;
     width:100%; 
      border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-top-right-radius: 2vh;  
      box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  #real{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .butt{
    width:100%;
     height:20%;
      display:flex;
  }
.delete{
  display:flex;
    justify-content:center;
    align-items:center; 
    width:50%; 
    height:100%; 
}
.delete button{
  height: 100%;
  width:80%;   
  border-radius: 1vh;
  color: red;
   box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: rgb(31, 28, 28);
  border: none;
  font-size: 2.8vh;
}
.edit{
  display:flex;
    justify-content:center;
    align-items:center; 
    width:50%;
     height:100%;
}
.edit button{
  height: 100%;
  width:80%;   
  border-radius: 1vh;
  color: orange;
   box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: rgb(31, 28, 28);
  border: none;
  font-size: 2.8vh;
  
}
.appear{

  width:100%; 
   height:40vh;
    border:1px solid;  
     z-index: 1111800; 
     background-color:red;
    
}
#task{
  color: black;
}
 
  @media(max-width:1050px){
    .task-bar{
      width: 110%;
      position: relative;
     z-index: 800;
    }
    .span-taskbar{
      width: 30vh;
      position: absolute;
     
    }
    .items{
      width: 80%;
    }

    #task-date{
      width: 100%;
    }
  
    .inputs{
      width: 100%;
      display: flex;
justify-content: center;
align-items: center;
height: 50%;
    }
    h1{
      width: 10%;
   
    }
    .date{
      width: 80%;
    }
    #date{
      width: 30%;
     font-size: 2.5vh;
    }
    .nex{
      width: 80%;
    }
    .inputs h1{
      font-size: 5vh;
    }
     
    #tell{
      width: 80%;
     
    }
    
    /*
    .sub{
    height: 20%;    
   
    }
       
        .buttons{
          height: 30%;
        }
        .buttons button{
          height: 50%;
        } */
        
  } 
  @media (max-width:1050px){
    #sun{
      font-size: 6vw;
      width: 20%;
  }
  #moon{
      font-size: 6vw;
      width: 20%;
  }
  .menu span{
    font-size: 6vw;

    width: 20%;
  }
  #date{
    width: 100%;
  }
  .side-menu{
    margin-top: -12vh;
  }
  #toggl{
    width: 100%;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }