* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
 
  transition: all 0.2s ease-in-out;

}

body,
html {
  width: 100%;
  height: 100%;
 
    overflow: hidden;
  
}

section {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode {
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#sun {
  font-size:2vw;
  background-image: linear-gradient(45deg, yellow, orange);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#moon {
  font-size: 2vw;
  background-image: linear-gradient(45deg, white, rgb(0, 195, 255));
  display: none;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sing {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  width: 30%;
  box-shadow: rgba(1, 2, 2, 0.377) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 2vh;
  background-color: white;
  height: 50%;
  transition: all 0.2s ease-in-out;
}

.header {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header p{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
  }

.inputs {
  width: 100%;
  height: 100%;
}

.in {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2%;
}

.in input {
  width: 80%;
  height: 60%;
  border-radius: 1vh;
  border: 1px solid;
  font-size: 2.8vh;
  font-family: monospace;
}

.lab label{
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.5vw;
  font-family: monospace;
  
}
#f1 {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#f1 button{
  width: 70%;
  height: 100%;
  border-radius: 1.8vh;
  background-color: rgba(0, 0, 0, 0.733);
  border: none;
  color: white;
  font-size:1.5vw;
  cursor: pointer;
}

.login-page {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page input{
  border: none;
  background: none;
  font-size: 1.2vw;
  cursor: pointer;
  }

.error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  position: absolute;
  z-index: 400;
}

.error .alert {
  width: 50%;
  height: 50%;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.322);
}

.error .alert-success {
  width: 50%;
  height: 50%;
  border-radius: 2vh;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.171);
}

.name-error span{
  width: 80%;
  text-align: start;
  color: red;
  font-size: .8vw;
  
}



.email-error {
  margin-bottom: .5vh;
  width: 100%;
  height: 2.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -1.5vh;
}

.email-error span {
  width: 80%;
  text-align: start;
  color: red;
  font-size: .8vw;
}

.password-error {
  margin-bottom: .5vh;
  width: 100%;
  height: 2.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -1.5vh;
}

.password-error span {
  width: 80%;
  text-align: start;
  color: red;
  font-size: 0.8vw;
}

.confirm-error {
  margin-bottom: .5vh;
  width: 100%;
  height: 2.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -1.5vh;
}

.confirm-error span {
  width: 80%;
  text-align: start;
  color: red;
  font-size: 0.8vw;
}

.alert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  color: red;
  font-size: 1vw;
}

@media(max-width:1050px){
  .items{
    width: 85%;
  }
  #sun{
    font-size: 6vw;
}
#moon{
    font-size: 6vw;
}
.header p{
  font-size: 5vw;
}
.login-page input{

  font-size: 2.5vw;
}
.lab label{
  font-size: 3vw;
}
.in input{
  font-size: 3vw;
}
#f1 button{
  font-size: 3vw;
}
.name-error span{
  font-size: 2vw;
}
.email-error span{
  font-size: 2vw;}
  .confirm-error span{
    font-size: 2vw;
  }
  .password-error span{
    font-size: 2vw;
  }
}
@media(max-width:950px){
  #sun{
    font-size: 6vw;
}
#moon{
    font-size: 6vw;
}.header p{
  font-size: 8.5vw;
}
.login-page input{

  font-size: 4.5vw;
}
.lab label{
  font-size: 4.5vw;
}
.in input{
  font-size: 4.5vw;
}
#f1 button{
  font-size: 4.8vw;
}
.name-error span{
  font-size: 3vw;
}
.email-error span{
  font-size: 3vw;}
  .confirm-error span{
    font-size: 3vw;
  }
  .password-error span{
    font-size: 3vw;
  }
}


 
  
